<div class="h5">
  Edit Node
</div>

<div class="w-100" *ngFor="let field of fields">
  <mat-form-field class="w-100" *ngIf="field.type == 'string' && !field.options?.length">
    <input matInput type="text" [placeholder]="field.text" [(ngModel)]="editingItem[field.value].value">
    <mat-hint *ngIf="field.hint">{{field.hint}}</mat-hint>

    <mat-icon 
      (click)="showVariableExample()" 
      matSuffix 
      *ngIf="field.displaySystemVariableExamples" 
      class="pointer text-primary" 
      matTooltip="Variables List">
      info
    </mat-icon>
  </mat-form-field>

  <mat-form-field class="w-100" *ngIf="field.type == 'number' && !field.options?.length">
    <input matInput type="number" [placeholder]="field.text" [(ngModel)]="editingItem[field.value].value">
    <mat-hint *ngIf="field.hint">{{field.hint}}</mat-hint>
    <mat-icon 
      (click)="showVariableExample()" 
      matSuffix 
      *ngIf="field.displaySystemVariableExamples" 
      class="pointer text-primary" 
      matTooltip="Variables List">
      info
    </mat-icon>
  </mat-form-field>

  <mat-form-field class="w-100" *ngIf="field.type == 'email'">
    <input matInput type="email" [placeholder]="field.text" [(ngModel)]="editingItem[field.value].value">
    <mat-hint *ngIf="field.hint">{{field.hint}}</mat-hint>
    <mat-icon 
      (click)="showVariableExample()" 
      matSuffix 
      *ngIf="field.displaySystemVariableExamples" 
      class="pointer text-primary" 
      matTooltip="Variables List">
      info
    </mat-icon>
  </mat-form-field>

  <mat-form-field class="w-100" *ngIf="field.type == 'textarea'">
    <textarea matInput [placeholder]="field.text" [(ngModel)]="editingItem[field.value].value"></textarea>
    <mat-hint *ngIf="field.hint">{{field.hint}}</mat-hint>
    <mat-icon 
      (click)="showVariableExample()" 
      matSuffix 
      *ngIf="field.displaySystemVariableExamples" 
      class="pointer text-primary" 
      matTooltip="Variables List">
      info
    </mat-icon>
  </mat-form-field>

  <mat-form-field class="w-100" *ngIf="field.options?.length">
    <mat-select [placeholder]="field.text" [(ngModel)]="editingItem[field.value].value" [multiple]="field.multiple">
      <mat-option *ngFor="let item of field.options" [value]="item.value">
        {{item.text}}
      </mat-option>
    </mat-select>
    <mat-hint *ngIf="field.hint">{{field.hint}}</mat-hint>
    <mat-icon 
      (click)="showVariableExample()" 
      matSuffix 
      *ngIf="field.displaySystemVariableExamples" 
      class="pointer text-primary" 
      matTooltip="Variables List">
      info
    </mat-icon>
  </mat-form-field>

  <div *ngIf="field.type == 'json'">
    <span>{{field.text}}</span>
    <ace class="mb-3" [mode]="'json'" [style.height.px]="150" [theme]="'github'" [(value)]="editingItem[field.value].value"></ace>
    <small class="text-muted d-block" *ngIf="field.hint">{{field.hint}}</small>
  </div>

  <div *ngIf="field.type == 'boolean'">
    <mat-slide-toggle color="primary" [(ngModel)]="editingItem[field.value].value">{{field.text}}</mat-slide-toggle>
  </div>
</div>

<div class="d-flex pt-2">
  <button mat-stroked-button (click)="dismiss()">Close</button>
  <button mat-raised-button class="ml-auto" color="primary" (click)="save()" [disabled]="!canSave">Save</button>
</div>