#drawer-container {
  height: 100vh;
  width: 100vw;

  .selected {
    transition: .3s;
    background-color: rgba($color: #000000, $alpha: .05);
    color: #673ab7;
    border-left: 3px solid #673ab7;
  }
}
