<mat-drawer-container id="drawer-container" class="border-top">
  <mat-drawer mode="side" opened>
    <div class="bg-white" [style.width.px]="230">
      <mat-toolbar class="bg-white">
        <div class="w-100 d-flex">
          <mat-chip-list class="mx-auto">
            <mat-chip class="pointer text-primary" [matMenuTriggerFor]="menuEl">
              <mat-icon class="mr-2">account_circle</mat-icon>
              {{(user$ | async)?.email?.split("@")[0]}}
              <mat-icon class="ml-1">keyboard_arrow_down</mat-icon>
            </mat-chip>
          </mat-chip-list>
          <mat-menu #menuEl="matMenu">
            <button mat-menu-item [routerLink]="['/dashboard/settings/my-profile']">
              <mat-icon class="mr-4">account_circle</mat-icon>
              My Profile
            </button>
            <button mat-menu-item class="border-top" (click)="logout()">
              <mat-icon class="mr-4">logout</mat-icon>
              Logout
            </button>
          </mat-menu>
        </div>
      </mat-toolbar>
      <div *ngFor="let item of menu" [ngClass]="item.panelClass || []" [class.selected]="item.url == pathname">
        <table class="w-100 hover pointer" (click)="navigate(item)">
          <tr>
            <td class="py-2 pl-3">
              {{item.text}}
            </td>
            <td class="py-2 text-right pr-3">
              <mat-icon class="vertical-inherit" *ngIf="item.icon">
                {{item.icon}}
              </mat-icon>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="text-muted px-2 py-2 position-absolute" [style.bottom]="0">
      {{version}}
    </div>
  </mat-drawer>

  <mat-drawer-content>
    <div class="w-100 h-100 bg-light">
      <mat-toolbar>
        <table class="w-100">
          <tr>
            <td>
              <!-- <button mat-icon-button color="primary"><mat-icon>menu</mat-icon></button> -->
            </td>
            <td class="text-right">
              <!-- <button mat-stroked-button color="primary" (click)="refresh()">
                <mat-icon>sync</mat-icon>
                Refresh
              </button> -->
            </td>
          </tr>
        </table>
      </mat-toolbar>

      <div class="w-100 d-flex">
        <div class="w-100 mx-auto">
          <router-outlet></router-outlet>
        </div>
      </div>

    </div>
  </mat-drawer-content>
</mat-drawer-container>
