<div>
  <mat-form-field class="w-100">
    <input matInput placeholder="Resource Name" [(ngModel)]="editingItem.resource_name">
  </mat-form-field>
  <mat-checkbox color="primary" class="mr-3" [(ngModel)]="editingItem.has_view">Has View</mat-checkbox>
  <mat-checkbox color="primary" class="mr-3" [(ngModel)]="editingItem.has_create">Has Create</mat-checkbox>
  <mat-checkbox color="primary" class="mr-3" [(ngModel)]="editingItem.has_edit">Has Edit</mat-checkbox>
  <mat-checkbox color="primary" class="mr-3" [(ngModel)]="editingItem.has_delete">Has Delete</mat-checkbox>
</div>

<div class="d-flex">
  <button mat-button (click)="dismiss()">Close</button>
  <button mat-raised-button class="ml-auto" color="primary" [disabled]="!canSave" (click)="save()">Save</button>
</div>