<div class="w-100 py-4 container-sm">
  <mat-form-field class="w-100">
    <input matInput placeholder="Search Workflow" [(ngModel)]="pagination.searchKey" (keyup.enter)="init()">
    <button mat-flat-button color="primary" class="mr-3" matSuffix (click)="init()">
      <mat-icon>search</mat-icon>
      Search
    </button>

    <button mat-flat-button color="primary" matSuffix (click)="edit()">
      <mat-icon>add</mat-icon>
      Add User
    </button>
  </mat-form-field>

  <table appDataTable class="w-100 my-0">
    <thead>
      <tr>
        <th>
          Email
        </th>
        <th>
          Roles
        </th>
        <th>
          Dashboard Enabled
        </th>
        <th>
          API Enabled
        </th>
        <th class="text-right">Actions</th>
      </tr>
    </thead>
    <tbody *ngFor="let user of users$ | async">
      <tr>
        <td>
          {{user.email}}
        </td>
        <td>
          <mat-chip-list>
            <mat-chip *ngFor="let role of user.roles">{{roleItemName$(role) | async}}</mat-chip>
          </mat-chip-list>
        </td>
        <td>
          <mat-icon color="primary">
            {{user.dashboard_restricted ? 'check_box_outline_blank' : 'check_box'}}
          </mat-icon>
        </td>
        <td>
          <mat-icon color="primary">
            {{user.api_restricted ? 'check_box_outline_blank' : 'check_box'}}
          </mat-icon>
        </td>
        <td class="text-right">
          <button mat-icon-button color="primary" matTooltip="Edit User" (click)="edit(user)"><mat-icon>create</mat-icon></button>
          <button mat-icon-button color="warn" matTooltip="Update Password" (click)="changePassword(user)"><mat-icon>fingerprint</mat-icon></button>
          <button mat-icon-button color="warn" matTooltip="Archive User" (click)="delete(user)"><mat-icon>delete</mat-icon></button>
        </td>
      </tr>
    </tbody>
  </table>
  <mat-paginator [length]="count$ | async"
    [pageSize]="pagination.size"
    [pageIndex]="pagination.index"
    [pageSizeOptions]="pageSizeOptions"
    (page)="fetch($event)">
  </mat-paginator>
</div>
