<div *ngIf="title">
  <span class="h5">{{title}}</span>
</div>
<div class="py-3">
  <span>{{message}}</span>
</div>

<div class="d-flex">
  <button mat-stroked-button (click)="dismiss()">{{cancelText}}</button>
  <button mat-flat-button color="primary" class="ml-auto" (click)="confirm()">{{confirmText}}</button>
</div>
