<div>
  <table appDataTable class="w-100">
    <thead>
      <tr>
        <th>
          Variable Name
        </th>
        <th>
          Example
        </th>
      </tr>
    </thead>
    <tbody *ngFor="let variable of examples$ | async">
      <tr>
        <td class="pointer" (click)="copy(formatVariableName(variable.text))" matTooltip="Click to copy">
          {{formatVariableName(variable.text)}}
        </td>
        <td>
          {{variable.value}}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="d-flex">
  <button mat-button (click)="dismiss()">Close</button>
</div>