<div class="w-100 py-4 container-sm">
  <mat-form-field class="w-100">
    <input matInput placeholder="Search Workflow" [(ngModel)]="pagination.searchKey" (keyup.enter)="init()">
    <button mat-flat-button color="primary" class="mr-3" matSuffix (click)="init()">
      <mat-icon>search</mat-icon>
      Search
    </button>

    <button mat-flat-button color="primary" matSuffix (click)="edit()">
      <mat-icon>add</mat-icon>
      Add Resource
    </button>
  </mat-form-field>

  <table appDataTable class="w-100 my-0">
    <thead>
      <tr>
        <th>
          Resource Name
        </th>
        <th>
          Has View
        </th>
        <th>
          Has Create
        </th>
        <th>
          Has Edit
        </th>
        <th>
          Has Delete
        </th>
        <th class="text-right">Actions</th>
      </tr>
    </thead>
    <tbody *ngFor="let resource of resources$ | async">
      <tr>
        <td>
          {{resource.resource_name}}
        </td>
        <td>
          <mat-icon color="primary">{{resource.has_view ? 'check_box' : 'check_box_outline_blank'}}</mat-icon>
        </td>
        <td>
          <mat-icon color="primary">{{resource.has_create ? 'check_box' : 'check_box_outline_blank'}}</mat-icon>
        </td>
        <td>
          <mat-icon color="primary">{{resource.has_edit ? 'check_box' : 'check_box_outline_blank'}}</mat-icon>
        </td>
        <td>
          <mat-icon color="primary">{{resource.has_delete ? 'check_box' : 'check_box_outline_blank'}}</mat-icon>
        </td>
        <td class="text-right">
          <button mat-icon-button color="primary" matTooltip="Edit Resource" (click)="edit(resource)" *ngIf="!resource.is_system"><mat-icon>create</mat-icon></button>
          <button mat-icon-button color="warn" matTooltip="Archive Resource" (click)="delete(resource)" *ngIf="!resource.is_system"><mat-icon>delete</mat-icon></button>
        </td>
      </tr>
    </tbody>
  </table>
  <mat-paginator [length]="count$ | async"
    [pageSize]="pagination.size"
    [pageIndex]="pagination.index"
    [pageSizeOptions]="pageSizeOptions"
    (page)="fetch($event)">
  </mat-paginator>
</div>
