<div>
  <mat-form-field class="w-100">
    <input matInput placeholder="Role Name" [(ngModel)]="editingItem.role_name">
  </mat-form-field>

  <table appDataTable class="w-100 table table-striped">
    <thead class="bg-primary text-white">
      <tr>
        <th>Resource</th>
        <th>Can View</th>
        <th>Can Create</th>
        <th>Can Edit</th>
        <th>Can Delete</th>
      </tr>
    </thead>
    <tbody *ngFor="let resource of resources$ | async">
      <tr>
        <td>{{resource.resource_name}}</td>
        <td>
          <button mat-icon-button (click)="togglePermission(resource._id, 'can_view')" color="primary"><mat-icon>{{isPermitted(resource._id, 'can_view') ? 'check_box' : 'check_box_outline_blank'}}</mat-icon></button>
        </td>
        <td>
          <button mat-icon-button (click)="togglePermission(resource._id, 'can_create')" color="primary"><mat-icon>{{isPermitted(resource._id, 'can_create') ? 'check_box' : 'check_box_outline_blank'}}</mat-icon></button>
        </td>
        <td>
          <button mat-icon-button (click)="togglePermission(resource._id, 'can_edit')" color="primary"><mat-icon>{{isPermitted(resource._id, 'can_edit') ? 'check_box' : 'check_box_outline_blank'}}</mat-icon></button>
        </td>
        <td>
          <button mat-icon-button (click)="togglePermission(resource._id, 'can_delete')" color="primary"><mat-icon>{{isPermitted(resource._id, 'can_delete') ? 'check_box' : 'check_box_outline_blank'}}</mat-icon></button>
        </td>
      </tr>
    </tbody>
  </table>  

</div>


<div class="d-flex">
  <button mat-button (click)="dismiss()">Close</button>
  <button mat-raised-button class="ml-auto" color="primary" [disabled]="!canSave" (click)="save()">Save</button>
</div>