<div class="row mx-auto container-sm py-4 w-100">

  <mat-card class="w-100 mb-4">
    <mat-card-header>
      <mat-card-title>My Detail</mat-card-title>
      <mat-card-subtitle>View / Update Login Information</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    
      <div class="row mx-0">
        <mat-form-field class="col-6">
          <input matInput placeholder="Email" [value]="(user$ | async).email">
        </mat-form-field>
      </div>

    </mat-card-content>
    <!-- <mat-card-actions>
      <div class="col-12">
        <button mat-button color="primary">Save</button>
      </div>
    </mat-card-actions> -->
  </mat-card>

  <mat-card class="w-100">
    <mat-card-header>
      <mat-card-title>API Key</mat-card-title>
      <mat-card-subtitle>Please do not expose your key to the public</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      
      <div class="col-12" *ngIf="accessKey$ | async as accessKey">
        <table class="w-100 border table table-striped">
          <tbody>
            <tr>
              <th>Last Access Endpoint:</th>
              <td>
                <span class="mr-2">
                  {{accessKey.method}}
                </span>
                <span>
                  {{accessKey.path}}
                </span>
              </td>
              <th>Last Used At:</th>
              <td>
                <span>
                  {{accessKey.lastAccessedAt | date: 'dd MMM yyyy hh:mm'}}
                </span>
              </td>
            </tr>
          </tbody>
        </table>

        <input type="text" class="py-2 px-2 w-100 rounded-lg border" [value]="accessKey.key" readonly placeholder="You don't have a key yet, please generate one.">
      
      </div>

    </mat-card-content>
    <mat-card-actions>
      <div class="col-12 d-flex">
        <button mat-button color="primary" *ngIf="accessKey$ | async as accessKey" [disabled]="!accessKey.key" (click)="copy(accessKey.key)">Copy</button>
        <button mat-button color="warn" *ngIf="accessKey$ | async as accessKey" (click)="generate(accessKey.key)">Generate / Rotate API Key</button>

        <button mat-button class="ml-auto" (click)="navigateToApiDoc()">
          <u class="text-primary">
            API Endpoints
            <mat-icon inline>open_in_new</mat-icon>
          </u>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>

</div>