<h5 class="my-3">
  Execution History
</h5>
<div>
  <table class="border w-100 table table-striped" appDataTable>
    <thead>
      <tr>
        <th>Execution ID</th>
        <th>Started At</th>
        <th>Completed At</th>
        <th>Outcome</th>
        <th>Context</th>
        <th>Result</th>
      </tr>
    </thead>
    <tbody *ngFor="let log of logs$ | async">
      <tr>
        <th>
          {{log.workflow_execution?.slice(16, 24)}}
        </th>
        <td>
          {{log.process_started_at | date: 'dd MMM yyyy hh:mm:ss'}}
        </td>
        <td>
          {{log.process_completed_at | date: 'dd MMM yyyy hh:mm:ss'}}
        </td>
        <td>
          <span *ngIf="log.process_completed_at" class="text-success" [ngClass]="{'text-danger': !log.node_execution_result?.success}">
            {{log.node_execution_result?.success ? 'Succeed' : 'Failed'}}
          </span>
        </td>
        <td>
          {{log.node_execution_context}}
        </td>
        <td>
          <p 
            [style.max-width.px]="300" 
            [style.text-overflow]="'ellipsis'" 
            [style.white-space]="'nowrap'" 
            (click)="copy(log.node_execution_result?.result)" 
            class="pointer overflow-hidden" 
            matTooltip="Click to copy"
          >
            {{log.node_execution_result?.result | stringify}}
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="d-flex">
  <div class="pt-3">
    <button mat-raised-button (click)="dismiss()">Close</button>
  </div>
  <mat-paginator [length]="count$ | async"
    [pageSize]="pagination.size"
    [pageSizeOptions]="pageSizeOptions"
    class="ml-auto"
    (page)="fetch($event)">
  </mat-paginator>
</div>