<div class="h5">
  Edit Variable
</div>

<mat-form-field class="w-100">
  <input matInput placeholder="Variable Name" [(ngModel)]="editingItem.variable_name">
</mat-form-field>

<mat-form-field class="w-100">
  <mat-select placeholder="Variable Type" [(ngModel)]="editingItem.variable_type">
    <mat-option *ngFor="let item of fieldTypes" [value]="item.value">
      {{item.text}}
    </mat-option>
  </mat-select>
</mat-form-field>

<div class="w-100" >
  <span>Variable Body</span>
  <ace class="mb-3" [mode]="'json'" [style.height.px]="150" [theme]="'github'" [(value)]="editingItem.variable_data"></ace>
</div>

<div class="d-flex">
  <button mat-stroked-button (click)="dismiss()">Close</button>
  <button mat-raised-button class="ml-auto" color="primary" (click)="save()" [disabled]="!canSave">Save</button>
</div>