<div class="w-100 py-4 container-sm px-5">
  <div class="w-100 d-flex">
    <mat-form-field class="w-100" *ngIf="isTimeBased">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate [(ngModel)]="options.from" placeholder="Start date">
        <input matEndDate [(ngModel)]="options.to" placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>

      <button mat-flat-button color="primary" class="ml-2" matSuffix (click)="search()">
        <mat-icon>search</mat-icon>
        Search
      </button>

      <button mat-flat-button color="primary" class="ml-2" matSuffix (click)="addTask()">
        <mat-icon>add</mat-icon>
        Add Task
      </button>
    </mat-form-field>

    <div class="ml-auto mb-2" *ngIf="!isTimeBased">
      <button mat-flat-button color="primary" (click)="addTask()">
        <mat-icon>add</mat-icon>
        Add Task
      </button>
    </div>
  </div>

  <table appDataTable class="w-100 my-0">
    <thead>
      <tr>
        <th>Task ID</th>
        <th>
          Task Name
        </th>
        <th *ngIf="isTimeBased">Next Run Time</th>
        <th>Repeat</th>
        <th class="text-right">Actions</th>
      </tr>
    </thead>
    <tbody *ngFor="let task of tasks$ | async">
      <tr>
        <td>
          <mat-icon matTooltip="View Detail" (click)="task['expanded'] = !task['expanded']" class="pointer btn-expand-icon" color="primary">
            {{!task['expanded'] ? 'add_box' : 'indeterminate_check_box'}}
          </mat-icon>
          <small>
            {{task.task_id}}
          </small>
        </td>
        <td>
          {{task.task_name}}
        </td>

        <td *ngIf="isTimeBased">
          <span *ngIf="task.trigger_next_at">
            {{formatDate(task.trigger_next_at)}}
          </span>
        </td>

        <td>
          {{task.task_trigger_type}}
        </td>
        <td class="text-right">
          <button mat-icon-button color="primary" matTooltip="Edit Task" (click)="editTask(task)"><mat-icon>create</mat-icon></button>
          <button mat-icon-button color="warn" matTooltip="Remove Task" (click)="delete(task)"><mat-icon>delete</mat-icon></button>
        </td>
      </tr>
      <tr *ngIf="task['expanded']">
        <td colspan="5" class="px-4 py-4">
          <div class="w-100 rounded-lg border overflow-hidden">
            <table class="w-100 mb-0 text-sm">
              <tbody>
                <tr>
                  <td>
                    <b>Task Description</b>
                  </td>
                  <td>{{task.task_description}}</td>
                </tr>
                <tr>
                  <td>
                    <b>Task Message</b>
                  </td>
                  <td>{{task.task_message}}</td>
                </tr>
                <tr *ngIf="isTimeBased">
                  <td>
                    <b>Next Run Time</b>
                  </td>
                  <td>
                    <span *ngIf="task.trigger_next_at">
                      {{formatDate(task.trigger_next_at)}}
                    </span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>Retry Limit</b>
                  </td>
                  <td>{{task.task_fallback_retry_limit}}</td>
                </tr>
                <tr>
                  <td>
                    <b>Retry Delay</b>
                  </td>
                  <td>
                    {{task.task_fallback_retry_duration}}
                    <span *ngIf="task.task_fallback_retry_duration">s</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>Backup Task ID</b>
                  </td>
                  <td>{{task.task_fallback_task_id}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
