<ng-template #loading>
  <div class="py-5 my-5">
    <mat-spinner
      class="mx-auto"
      strokeWidth="5"
      [mode]="'indeterminate'">
    </mat-spinner>
  </div>
</ng-template>


<div class="row mx-auto container-sm py-4 w-100" *ngIf="serverStatus$ | async as serverStatus; else loading">

  <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4">
    <div class="w-100 py-3 rounded-lg shadow text-center">
      <h5 class="py-2">Subscribed Consumers</h5>
      <h3 class="py-2">
        {{serverStatus.consumerCount}}
      </h3>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4">
    <div class="w-100 py-3 rounded-lg shadow text-center">
      <h5 class="py-2">Pending Tasks</h5>
      <h3 class="py-2">
        {{serverStatus.instantTasksCount}}
      </h3>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4">
    <div class="w-100 py-3 rounded-lg shadow text-center">
      <h5 class="py-2">Running Tasks</h5>
      <h3 class="py-2">
        {{serverStatus.processingTasks.length}}
      </h3>
    </div>
  </div>

  <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4">
    <div class="w-100 py-3 rounded-lg shadow text-center">
      <h5 class="py-2">Executing Workflows</h5>
      <h3 class="py-2">
        {{serverStatus.processingWorkflows.length}}
      </h3>
    </div>
  </div>

  <div class="col-12 my-2">
    <mat-card class="w-100 shadow rounded-lg">
      <mat-card-header>
        <mat-card-title>Running Tasks</mat-card-title>
        <mat-card-subtitle>Tasks in Process</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="col-12">
          <table class="w-100 my-0" appDataTable>
            <thead>
              <tr>
                <th>Task Name</th>
                <th>Task Description</th>
                <th>Task Started At</th>
              </tr>
            </thead>
            <tbody *ngFor="let task of serverStatus.processingTasks">
              <tr>
                <td>{{task.task_name}}</td>
                <td>{{task.task_description}}</td>
                <td>{{task.task_created_at | date: 'dd MMM yyyy hh:mm:ss'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-card-content>
      <mat-card-actions class="pl-2">
        <button mat-button (click)="viewInTimeline()" color="primary">Timeline</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="col-12 my-2">
    <mat-card class="w-100 shadow rounded-lg">
      <mat-card-header>
        <mat-card-title>Executing Workflows</mat-card-title>
        <mat-card-subtitle>Workflows in Execution</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="col-12">
          <table class="w-100 my-0" appDataTable>
            <thead>
              <tr>
                <th>Workflow Name</th>
                <th>Workflow Started At</th>
                <th class="text-right">Actions</th>
              </tr>
            </thead>
            <tbody *ngFor="let workflow of serverStatus.processingWorkflows">
              <tr>
                <td>{{workflow.name}}</td>
                <td>{{workflow.started_at | date: 'dd MMM yyyy hh:mm:ss'}}</td>
                <td class="text-right">
                  <button mat-icon-button color="primary" [routerLink]="['/dashboard/workflows', workflow._id, 'edit']"><mat-icon>settings</mat-icon></button>
                  <button mat-icon-button color="warn" (click)="stopWorkflow(workflow._id)"><mat-icon>stop</mat-icon></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-card-content>
      <mat-card-actions class="pl-2">
        <button mat-button [routerLink]="['/dashboard/workflows']" color="primary">View All</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
