<div class="row mx-auto container-sm py-4 w-100">
  <div class="col-12 py-2">
    <h5>
      SMTP Configuration
    </h5>
  </div>
  <mat-form-field class="col-6">
    <input matInput placeholder="Host" [(ngModel)]="editingItem.host">
  </mat-form-field>

  <mat-form-field class="col-6">
    <input matInput placeholder="Port" type="number" [(ngModel)]="editingItem.port">
  </mat-form-field>

  <mat-form-field class="col-6">
    <input matInput placeholder="Username / Email" type="email" [(ngModel)]="editingItem.username">
  </mat-form-field>

  <mat-form-field class="col-6">
    <input matInput placeholder="Password" type="password" [(ngModel)]="editingItem.password">
  </mat-form-field>

  <div class="d-flex col-12 pt-3">
    <button mat-raised-button class="ml-auto" color="primary" [disabled]="!canSave" (click)="save()">Save</button>
  </div>
</div>