<div class="w-100 py-4 container-sm">
  <mat-form-field class="w-100">
    <input matInput placeholder="Search Workflow" [(ngModel)]="pagination.searchKey" (keyup.enter)="init()">
    <button mat-flat-button color="primary" class="mr-3" matSuffix (click)="init()">
      <mat-icon>search</mat-icon>
      Search
    </button>

    <button mat-flat-button color="primary" matSuffix (click)="edit()">
      <mat-icon>add</mat-icon>
      Add Role
    </button>
  </mat-form-field>

  <table appDataTable class="w-100 my-0">
    <thead>
      <tr>
        <th>
          Role Name
        </th>
        <th>
          Resources
        </th>
        <th class="text-right">Actions</th>
      </tr>
    </thead>
    <tbody *ngFor="let role of roles$ | async">
      <tr>
        <td>
          {{role.role_name}}
        </td>
        <td>
          <mat-chip-list>
            <mat-chip *ngFor="let resource of role.resources">{{resourceItemName$(resource.resource) | async}}</mat-chip>
          </mat-chip-list>
        </td>
        <td class="text-right">
          <button mat-icon-button color="primary" matTooltip="Edit Role" (click)="edit(role)" *ngIf="!role.is_system"><mat-icon>create</mat-icon></button>
          <button mat-icon-button color="warn" matTooltip="Archive Role" (click)="delete(role)" *ngIf="!role.is_system"><mat-icon>delete</mat-icon></button>
        </td>
      </tr>
    </tbody>
  </table>
  <mat-paginator [length]="count$ | async"
    [pageSize]="pagination.size"
    [pageIndex]="pagination.index"
    [pageSizeOptions]="pageSizeOptions"
    (page)="fetch($event)">
  </mat-paginator>
</div>
