<div class="vertical-inherit d-flex">
  <div *ngFor="let node of workflowNodes"
      [class.bg-danger]="!node.success"      
      [class.bg-success]="node.success"      
      class="mx-2 border rounded-pill hover px-2 py-2">

  </div>
</div>