/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'material-icons/iconfont/material-icons.scss';

$theme-colors: (
  "primary": #673ab7,
  "danger": #f44336
);
@import "node_modules/bootstrap/scss/bootstrap";

.el-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.vertical-inherit, td {
  vertical-align: inherit !important;
}

.pointer {
  cursor: pointer !important;
}

.mover {
  cursor: move !important;
}

.hover {
  transition: .3;

  &:hover {
    background-color: rgba($color: #000000, $alpha: .1);
  }
}

.text {
  &-sm {
    font-size: 14px;
  }
}

.btn-expand-icon {
  position: absolute;
  margin-left: -40px;
}

.dialog {
  max-height: 100vh;
  overflow: auto;

  &-sm {
    .mat-dialog-container {
      width: 380px;
    }
  }

  &-warning {
    .mat-dialog-container {
      border: $orange 15px solid;
    }
  }

  &-md {
    .mat-dialog-container {
      width: 650px;
    }
  }
}

#drawflow .drawflow-card {

  &-condition {
    border-radius: 50%;
    text-align: center;
  }

  &-action.selected, &-task.selected, &-condition.selected, &-entry-point.selected {
    background: "#f1f1f1";
    box-shadow: 3px 5px 5px -1px #d3d3d3;
    box-shadow: 5px solid grey;
  }

  &-action, &-task, &-condition, &-entry-point {
    background: white;
    border: 0.5px solid lightgrey;
    min-width: 230px;

    .input, .output {
      border: 0.5px solid lightgrey;
    }
  }
  
}

#drawflow .drawflow-card-entry-point .drawflow-delete {
  display: none;
}

.drawflow-delete {
  background: red !important;
  font-weight: 300 !important;
  line-height: 25px !important;
}

#drawflow .connection .main-path {
  stroke-width: 2px;
  stroke: purple;
}

#drawflow .running {
  animation: blinker 2s linear infinite;
  background-color: rgba(255, 182, 46, 0.776);
}

#drawflow .failed {
  border: rgb(187, 71, 71) 5px solid;
}

#drawflow .succeed {
  border: rgb(157, 206, 133) 5px solid;
}

#drawflow .disabled {
  background-color: rgb(232, 232, 232) !important;
  border: rgb(222, 222, 222) 5px solid !important;
  color: grey !important;
}

@keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}