<div class="w-100 py-4 container-sm">

  <table appDataTable class="w-100 my-0">
    <thead>
      <tr>
        <th>
          Workflow Name
        </th>
        <th>Next Run Time</th>
        <th>Status</th>
        <th class="text-right">
          Action
        </th>
      </tr>
    </thead>
    <tbody *ngFor="let cron of cronList$ | async">
      <tr>
        <td>
          <a [href]="'/dashboard/workflows/' + cron.workflow._id + '/edit'" target="_blank">
            {{cron.workflow.workflow_name}}
            <mat-icon color="primary" inline class="pointer">
              open_in_new
            </mat-icon>
          </a>
        </td>
        <td>
          {{cron.nextRunTime}}
        </td>
        <td>
          <span [class.text-success]="cron.isRunning" [class.text-danger]="!cron.isRunning">
            {{cron.isRunning ? 'Enabled' : 'Disabled'}}
          </span>
          <small *ngIf="!cron.workflow.workflow_bind_api_key" class="ml-1 text-danger">
            (Please attache an API key)
          </small>
        </td>
        <td class="text-right">
          <button mat-icon-button color="warn" (click)="toggleCronJob(cron)" [matTooltip]="cron.isRunning ? 'Disable Cron' : 'Enable Cron'">
            <mat-icon>
              {{cron.isRunning ? 'stop' : 'play_arrow'}}
            </mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
