<div class="w-100 vh-100 bg-light">
  <mat-card class="bg-white shadow rounded-lg el-center card" [style.width.px]="320">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
      <mat-card-subtitle>
        <a href="#">View Documentation</a>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <mat-form-field class="col-12">
        <mat-label>Email</mat-label>
        <input matInput required type="email" placeholder="admin@example.com" [(ngModel)]="editingItem.email">
      </mat-form-field>

      <mat-form-field class="col-12">
        <mat-label>Password</mat-label>
        <input matInput required type="password" [(ngModel)]="editingItem.password" (keyup.enter)="submit()">
      </mat-form-field>

    </mat-card-content>
    <mat-card-actions class="d-flex mb-1 col-12">
      <button mat-raised-button color="primary" class="ml-auto" (click)="submit()" [disabled]="!canSubmit">
        Submit
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>