<div class="row mx-0">
  <div id="drawflow" (drop)="drop($event)" (dragover)="allowDrop($event)"></div>
  <div class="px-0 col-3 border-left bg-white">
    <mat-tab-group (selectedTabChange)="selectedTabChange($event)">
      <mat-tab label="Summary">
        <div class="col-12 px-4 py-3">

          <table class="w-100 table table-striped border">
            <thead>
              <tr>
                <th>Execution Status</th>
                <td>
                  {{executionStatus}}
                </td>
              </tr>
            </thead>
            <tbody *ngIf="execution">
              <tr>
                <th>Execution ID</th>
                <td>
                  {{execution._id.slice(16, 24)}}
                </td>
              </tr>
              <tr>
                <th>Started At</th>
                <td>
                  {{execution.workflow_execution_started_at | date: 'dd MMM yyyy hh:mm:ss.SSS'}}
                </td>
              </tr>
              <tr>
                <th>Completed At</th>
                <td>
                  {{execution.workflow_execution_completed_at | date: 'dd MMM yyyy hh:mm:ss.SSS'}}
                </td>
              </tr>
            </tbody>
          </table>
          
          <button mat-raised-button color="accent" class="w-100 mt-4" (click)="run()" *ngIf="isNotRunning" [disabled]="!editingItem._id">
            Execute Workflow
          </button>
          
          <button mat-raised-button color="warn" class="w-100 mt-4" (click)="stop()" *ngIf="isRunning" [disabled]="!editingItem._id">
            Stop Execution
          </button>
          
          <button mat-raised-button color="accent" class="w-100 mt-4" (click)="export()" [disabled]="!editingItem._id">
            Export
          </button>
          

          <button mat-raised-button class="w-100 mt-4" (click)="back()">
            Back
          </button>
        </div>
      </mat-tab>

      <mat-tab label="Edit">
        <div class="col-12 px-4 py-3">
          <mat-form-field class="w-100">
            <input matInput placeholder="Workflow Name" [(ngModel)]="editingItem.workflow_name">
          </mat-form-field>
          <mat-form-field class="w-100">
            <textarea matInput placeholder="Description" [(ngModel)]="editingItem.workflow_description"></textarea>
          </mat-form-field>
          
          <mat-form-field class="w-100">
            <input matInput placeholder="Bind API Key" type="password" [(ngModel)]="editingItem.workflow_bind_api_key">
            <button matSuffix mat-icon-button color="primary" (click)="getApiKey()"><mat-icon>open_in_new</mat-icon></button>
          </mat-form-field>

          <div class="pb-4">
            <mat-slide-toggle matTooltip="Ignore action failure an continue workflow" color="primary" [(ngModel)]="editingItem.workflow_ignore_failure">Ignore Failure</mat-slide-toggle>
          </div>
      
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                Stored Tasks
              </mat-expansion-panel-header>
              
              <div *ngIf="!(storedTaskCount$ | async)" class="text-center">
                <div class="text-muted d-flex">
                  <mat-icon class="mr-1 ml-auto">info_outline</mat-icon>
                  <div class="mr-auto">
                    You haven no stored task.
                  </div>
                </div>
                <button mat-stroked-button color="primary" class="ml-auto" (click)="addStoredTask()">Create Task</button>
              </div>

              <div *ngFor="let storedTaskNode of storedTaskNodes$ | async">
                <div 
                  class="mover border rounded-lg py-2 px-2 mb-3 hover" 
                  draggable="true" 
                  (drag)="drag(storedTaskNode)" 
                  [innerHtml]="storedTaskNode.title">
                </div>
              </div>

            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                Defined Actions
              </mat-expansion-panel-header>
            
              <div *ngFor="let workflowNode of actionNodes">
                <div class="mover border rounded-lg py-2 px-2 mb-3 hover" draggable="true" (drag)="drag(workflowNode)" [innerHtml]="workflowNode.title">
                </div>
              </div>
      
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                Conditions
              </mat-expansion-panel-header>
              
      
              <div *ngFor="let workflowNode of conditionNodes">
                <div class="mover border rounded-lg py-2 px-2 mb-3 hover" draggable="true" (drag)="drag(workflowNode)" [innerHtml]="workflowNode.title">
                </div>
              </div>
      
            </mat-expansion-panel>
          </mat-accordion>
      
          <button mat-raised-button color="primary" class="w-100 mt-4" [disabled]="!canSave" (click)="save()">
            Save Workflow
          </button>
      
          <button mat-raised-button color="primary" class="w-100 mt-4" (click)="uploader.click()">
            Import Configuration
          </button>
          <input type="file" #uploader hidden (change)="import($event)" accept=".json">
      
          <button mat-raised-button color="warn" class="w-100 mt-4" [disabled]="!editingItem._id" (click)="delete()">
            Delete Workflow
          </button>
        </div>
      </mat-tab>
    </mat-tab-group>

  </div>
</div>