<mat-tab-group>
  <mat-tab label="Users">
    <app-users></app-users>
  </mat-tab>
  
  <mat-tab label="Roles">
    <app-roles></app-roles>
  </mat-tab>
  
  <mat-tab label="Resources">
    <app-resources></app-resources>
  </mat-tab>
</mat-tab-group>