<div class="w-100 py-4 container-sm">

  <mat-form-field class="w-100">
    <input matInput placeholder="Search Workflow" [(ngModel)]="pagination.searchKey" (keyup.enter)="init()">
    <button mat-flat-button color="primary" class="mr-3" matSuffix (click)="init()">
      <mat-icon>search</mat-icon>
      Search
    </button>

    <button mat-flat-button color="primary" matSuffix (click)="editWorkflow()">
      <mat-icon>add</mat-icon>
      Add Workflow
    </button>
  </mat-form-field>

  <table appDataTable class="w-100 my-0">
    <thead>
      <tr>
        <th>
          Workflow Name
        </th>
        <th>Status</th>
        <th>Version</th>
        <th>Last Execution</th>
        <th class="text-right">Actions</th>
      </tr>
    </thead>
    <tbody *ngFor="let workflow of workflows$ | async">
      <tr>
        <td>
          {{workflow.workflow_name}}
        </td>
        <td>
          <app-workflow-status [workflow]="workflow"></app-workflow-status>
        </td>
        <td>
          {{workflow.revision}}
        </td>
        <td>
          {{workflow.last_execution?.workflow_execution_started_at | date: 'dd MMM yyyy hh:mm:ss'}}
        </td>
        <td class="text-right">
          <button mat-icon-button matTooltip="Edit Workflow" color="primary" (click)="editWorkflow(workflow)"><mat-icon>keyboard_arrow_right</mat-icon></button>
        </td>
      </tr>
    </tbody>
  </table>
  <mat-paginator [length]="count$ | async"
    [pageSize]="pagination.size"
    [pageIndex]="pagination.index"
    [pageSizeOptions]="pageSizeOptions"
    (page)="fetch($event)">
  </mat-paginator>
</div>
