<div>
  <mat-form-field class="w-100">
    <input matInput placeholder="Email" [(ngModel)]="editingItem.email">
  </mat-form-field>

  <mat-form-field class="w-100">
    <mat-select placeholder="Roles" [(ngModel)]="editingItem.roles" multiple>
      <mat-option *ngFor="let item of roles$ | async" [value]="item._id">
        {{item.role_name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-checkbox class="mr-3" color="primary" [(ngModel)]="editingItem.dashboard_restricted">Dashboard Restricted</mat-checkbox>
  <mat-checkbox class="mr-3" color="primary" [(ngModel)]="editingItem.api_restricted">API Restricted</mat-checkbox>
</div>

<div class="d-flex">
  <button mat-button (click)="dismiss()">Close</button>
  <button mat-raised-button class="ml-auto" color="primary" [disabled]="!canSave" (click)="save()">Save</button>
</div>