<div class="w-100 container-sm py-4">
  <div class="rounded-lg shadow w-100 px-3 py-3 bg-white">
    <canvas class="w-100" id="timeline"></canvas>
  </div>
  <div class="w-100 py-4 d-flex">
    <button mat-stroked-button
            color="primary"
            class="mr-2"
            *ngFor="let item of TIMELINE_VIEW_PRESET, let i = index"
            [class.selected]="selectedPresetView == i"
            (click)="updatePresetView(i)">
      {{item.text}}
    </button>

    <button mat-stroked-button class="ml-auto selected" (click)="addTask()">
      <mat-icon>add</mat-icon>
      Add Task
    </button>
  </div>

  <div class="w-100">
    <table appDataTable class="rounded-lg shadow">
      <thead>
        <tr>
          <th>Task Name</th>
          <th>Next Run Time</th>
          <th>Repeat</th>
          <th class="text-right">Actions</th>
        </tr>
      </thead>
      <tbody *ngFor="let task of (tasks$ | async)">
        <tr>
          <td>
            {{task.task_name}}
          </td>

          <td>
            {{formatDate(task.trigger_next_at)}}
          </td>

          <td>
            {{task.task_trigger_type}}
          </td>
          <td class="text-right">
            <button mat-icon-button color="primary" matTooltip="Edit Task" (click)="editTask(task)"><mat-icon>create</mat-icon></button>
            <button mat-icon-button color="warn" matTooltip="Remove Task" (click)="delete(task)"><mat-icon>delete</mat-icon></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
