<div class="d-flex">
  <span class="h5">
    Edit Task Detail
    <span *ngIf="editingItem?.task_id">
      #{{editingItem.task_id}}
    </span>
  </span>
  <button mat-icon-button class="ml-auto" (click)="dismiss()"><mat-icon>close</mat-icon></button>
</div>

<div class="row">
  <mat-form-field class="col-6">
    <input matInput placeholder="Task Name" required [(ngModel)]="editingItem.task_name">
  </mat-form-field>

  <mat-form-field class="col-6">
    <mat-select placeholder="Task Repeat Type" required [(ngModel)]="editingItem.task_trigger_type">
      <mat-option value="instant">Instant</mat-option>
      <mat-option value="once">Once</mat-option>
      <mat-option value="daily">Daily</mat-option>
      <mat-option value="weekly">Weekly</mat-option>
      <mat-option value="monthly">Monthly</mat-option>
      <mat-option value="annually">Annually</mat-option>
      <mat-option value="never">Never</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="col-12">
    <textarea matInput placeholder="Task Description" [(ngModel)]="editingItem.task_description"></textarea>
  </mat-form-field>

  <div class="col-12 mb-3">
    <div class="d-flex">
      <span class="text-mute">
        Task Message
      </span>
      <mat-slide-toggle color="primary" class="ml-auto" [(ngModel)]="isJSON" (ngModelChange)="toggleJsonValidator()">
        <span class="text-muted">Validate JSON</span>
      </mat-slide-toggle>
    </div>
    <div id="json-editor" class="w-100" [style.height.px]="200"></div>
  </div>

  <!-- <mat-form-field class="col-12">
    <mat-label>Cron Expression</mat-label>
    <input matInput placeholder="* * * * * *" [(ngModel)]="editingItem.task_cron_expression">
  </mat-form-field> -->

  <!-- Time Inputs -->
  <div *ngIf="!['never', 'instant'].includes(editingItem.task_trigger_type)" class="w-100">

    <mat-form-field class="col-12" *ngIf="editingItem.task_trigger_type == 'once'">
      <input matInput [ngxMatDatetimePicker]="picker" placeholder="Datetime" [(ngModel)]="editingItem.task_trigger_once_datetime">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #picker [showSeconds]="true" color="primary">
      </ngx-mat-datetime-picker>
   </mat-form-field>

    <mat-form-field class="col-12" *ngIf="editingItem.task_trigger_type !== 'once'">
      <mat-label>Time</mat-label>
      <input matInput placeholder="HH:mm:ss" [(ngModel)]="editingItem.task_trigger_time" />
    </mat-form-field>

    <mat-form-field class="col-12" *ngIf="editingItem.task_trigger_type == 'weekly'">
      <mat-label>Day/s</mat-label>
      <mat-select multiple placeholder="Please select at lease one day" [(ngModel)]="editingItem.task_trigger_days">
        <mat-option [value]="item" *ngFor="let item of [1,2,3,4,5,6,7]">
          {{item}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="col-12" *ngIf="['monthly', 'annually'].includes(editingItem.task_trigger_type)">
      <mat-label>Date</mat-label>
      <input matInput type="number" min="1" max="31" placeholder="YYYY-MM-DD" [(ngModel)]="editingItem.task_trigger_date" />
    </mat-form-field>

    <mat-form-field class="col-12" *ngIf="['monthly', 'annually'].includes(editingItem.task_trigger_type)">
      <mat-label>Months</mat-label>
      <mat-select multiple placeholder="Please select at lease one month" [(ngModel)]="editingItem.task_trigger_months">
        <mat-option [value]="item" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12]">
          {{item}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="col-12" *ngIf="['annually'].includes(editingItem.task_trigger_type)">
      <mat-label>Years</mat-label>
      <mat-chip-list #yearChipList>
        <mat-chip *ngFor="let year of editingItem.task_trigger_years, let i = index" [selectable]="true"
                [removable]="true" (removed)="editingItem.task_trigger_years.splice(i, 1)">
          {{year}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input placeholder="Eg: 2021, 202[1-5]"
              [matChipInputFor]="yearChipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="addYear($event)">
      </mat-chip-list>
    </mat-form-field>
  </div>

  <div class="col-12 mb-3">
    <mat-accordion class="w-100">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Advanced
        </mat-expansion-panel-header>

        <div class="row">
          <div class="col-12 col-md-6">
            <mat-form-field class="w-100">
              <input matInput placeholder="Fallback Retry Limit" type="number" [(ngModel)]="editingItem.task_fallback_retry_limit">
            </mat-form-field>
          </div>
          <div class="col-12 col-md-6">
            <mat-form-field class="w-100">
              <input matInput placeholder="Fallback Retry Duration (Seconds)" type="number" [(ngModel)]="editingItem.task_fallback_retry_duration">
            </mat-form-field>
          </div>
          <div class="col-12 col-md-6">
            <mat-form-field class="w-100">
              <mat-select placeholder="Backup Task"
                          [(ngModel)]="editingItem.task_fallback_task_id"
                          [matTooltip]="(storedTasks$ | async)?.length ? '' : 'You do not have any stored task.'">
                <mat-option *ngFor="let task of (storedTasks$ | async)" [value]="task.task_id" matTooltip="task.task_description || ''">
                  {{task.task_name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-12 col-md-6">
            <mat-form-field class="w-100">
              <mat-select placeholder="Consumer Identity" [(ngModel)]="editingItem.task_consumer_identity">
                <mat-option *ngFor="let consumer of (consumers$ | async)" [value]="consumer.identity">
                  {{consumer.identity}} - {{consumer.platform}} - {{consumer.free_mem / consumer.total_mem * 100 | number: '.2'}}%
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

      </mat-expansion-panel>
    </mat-accordion>
  </div>

</div>

<div class="d-flex">
  <button mat-stroked-button (click)="dismiss()">Close</button>
  <button mat-raised-button class="ml-auto" color="primary" (click)="save()" [disabled]="!canSave">Save</button>
</div>
