<div class="w-100 py-4 container-sm">
  <mat-form-field class="w-100">
    <input matInput placeholder="Search Workflow" [(ngModel)]="pagination.searchKey" (keyup.enter)="init()">
    <button mat-flat-button color="primary" class="mr-3" matSuffix (click)="init()">
      <mat-icon>search</mat-icon>
      Search
    </button>

    <button mat-flat-button color="primary" matSuffix (click)="edit()">
      <mat-icon>add</mat-icon>
      Add Variable
    </button>
  </mat-form-field>

  <table appDataTable class="w-100 my-0">
    <thead>
      <tr>
        <th>
          Variable Name
        </th>
        <th>
          Version
        </th>
        <th>Last Assigned At</th>
        <th class="text-right">Actions</th>
      </tr>
    </thead>
    <tbody *ngFor="let variable of variables$ | async">
      <tr>
        <td>
          {{variable.variable_name}}
        </td>
        <td>
          {{variable.revision}}
        </td>
        <td>
          {{(variable.updated_at || variable.created_at) | date: 'dd MMM yyyy hh:mm a'}}
        </td>
        <td class="text-right">
          <button mat-icon-button color="primary" (click)="edit(variable)"><mat-icon>create</mat-icon></button>
          <button mat-icon-button color="warn" (click)="delete(variable._id)"><mat-icon>delete</mat-icon></button>
        </td>
      </tr>
    </tbody>
  </table>
  <mat-paginator [length]="count$ | async"
    [pageSize]="pagination.size"
    [pageIndex]="pagination.index"
    [pageSizeOptions]="pageSizeOptions"
    (page)="fetch($event)">
  </mat-paginator>
</div>
