<div class="text-center">
  <mat-icon class="text-danger pb-3" 
    [style.height.px]="50" 
    [style.width.px]="50"
    [style.font-size.px]="50">fingerprint</mat-icon>
</div>

<div>
  <mat-form-field class="w-100">
    <input matInput placeholder="New Password" type="password" [(ngModel)]="editingItem.password">
  </mat-form-field>


  <mat-form-field class="w-100">
    <input matInput placeholder="Confirm Password" type="password" [(ngModel)]="editingItem.confirmPassword">
  </mat-form-field>
</div>

<div class="w-100 d-flex">
  <button mat-button (click)="dismiss()" *ngIf="isDialog">Cancel</button>
  <button mat-raised-button color="primary" class="ml-auto" (click)="confirm" [disabled]="!canConfirm">Confirm</button>
</div>